{% extends 'base.html' %}

{% block title %}Info{% endblock %}

{% set session_cookie_keys = ['session', 'pga4_session', 'remember_token'] %}

{% block content %}
    <div class="pageSection">
        <h2>User's home page</h2>
        <br>
        <h2>Show the list of users</h2>
        <div>
            <strong><a href="/users" style="color:#000;" class="btn btn-secondary ms-1 toggleButton">See list of signed up users</a></strong>
        </div>
        <br>
        <h2>Create a cookie</h2>
        <form action="/add_cookie" method="POST">
            <label for="key">Key:</label>
            <input type="text" id="key" name="key" ><br><br>

            <label for="value">Value:</label>
            <input type="text" id="value" name="value" ><br><br>

            <label for="max_age">Max Age (seconds):</label>
            <input type="number" id="max_age" name="max_age"><br><br>

            <input type="submit" value="Add Cookie">
        </form>

        <h2>Remove a cookie</h2>
        <form action="/remove_cookie" method="GET">
            <label for="key_to_remove">Key to Remove:</label>
            <input type="text" id="key_to_remove" name="key"><br><br>

            <input type="submit" value="Remove Cookie">
        </form>

        <h2>Remove all cookies that you've created</h2>
        <form action="/remove_all_cookies" method="GET">
            <input type="submit" value="Remove All Cookies">
        </form>
        <br><br>
        <div class = "sessionCookieShow">
            <h2>Session(User, Database) cookie</h2>
            {% for key, value in cookies.items() %}
                {% for session_key in session_cookie_keys %}
                    {% if key == session_key %}
                        <p><strong>Value of the {{ key }} cookie is :</strong>
                        {% set wrapped_value = value|wordwrap(100) %}
                            {{ wrapped_value|safe }}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <br><br>
        <h2 class="cookiesTableHeading">Table of user-created cookies</h2>
        <table class = "cookiesTable">
            <thead class = "cookiesTable">
                <tr class = "cookiesTable">
                    <th class = "cookiesTable">Key</th>
                    <th class = "cookiesTable">Value</th>
                </tr>
            </thead>
            <tbody class = "cookiesTable">
                {% set non_session_cookies = {} %}
                {% for key, value in cookies.items() %}
                    {% if key not in session_cookie_keys %}
                        {% set _ = non_session_cookies.update({key: value}) %}
                    {% endif %}
                {% endfor %}

                {% if non_session_cookies|length > 0 %}
                    {% for key, value in non_session_cookies.items() %}
                        <tr class="cookiesTable">
                            <td class="cookiesTable">{{ key }}</td>
                            <td class="cookiesTable">{{ value }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2"><strong>There aren't any cookies outside the session cookies yet</strong></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
