body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
}

.content {
    display: flex;
    flex: 1;
}

nav, main {
    flex: 1;
}

nav {
    flex: 1;
    max-width: calc(15% + 10px);
    min-width: calc(100px + 10px);
    overflow: auto;
}

main {
    flex-direction: column;
    /*padding: 5px;*/
    overflow-x: hidden;
}

.basepage_title {
    text-align: center;
    color: #0d6efd;
}

nav, main, header {
    border: 1px solid brown;
    /*padding: 1px;*/
}

.toggleButton, .toggleSkillsButton{
    color: #0d6efd;
    text-decoration: none;
}

.inputID {
    width: 130px;
}

.image_list{
    width: 100px;
    height: 100px;
}

.buttonSkillForm{
    border: 1px solid black;
    border-radius: 2px;
}

header{
    background-color: #ffe792;
}
nav{
    background-color: rgba(109, 162, 255, 0.7);
}
main {
    background-color: lightcoral;
}
.cookiesTable{
    border: 1px solid brown;
    width: 1000px;
    text-align: center;
}
.cookiesTableHeading, .cookiesTableHeading > th{
    text-align: center;
}
.flash-success{
    color: darkgreen;
    font-size: 24px;
    padding: 10px;
}

.flash-error{
    color: darkred;
    font-size: 24px;
    padding: 10px;
}

.homepageFooter{
    background-color: #ffe792;
    border: 1px solid brown;
    width: 100%;
    color: #4b4b4b;
    bottom: 0;
    height: max-content;
}

.pageSection{
    padding: 10px;
}

.sessionCookieShow{
    width: 800px;
}

.tableTodoPadding{
    padding: 20px;
}

.todoMessageCompleted{
    color: #2e6221;
    background-position: center;
}

.todoMessageIncomplete{
    color: #e1cb7e;
    background-position: center;
}

.todoForm > #title, .todoForm > #description {
    width: 250px;
}

.databaseOutputTable{
    border: 1px solid brown;
    width: 1000px;
    text-align: center;
    padding: 10px;
}

.databaseOutputTable > .databaseOutputButtons{
    padding: 5px;
}

#mainContent > .info{
    padding: 10px;
    color: darkred;
}

#changePasswordForm > #old_password, #new_password, #confirm_new_password{
    width: 300px;
}

#updateAccountForm > #bio{
    width: 1000px;
}