<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Dmytro Huk's Online Resume{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="basepage_title">
        <h1>Online resume of student Dmytro Huk (group IPZ-31)</h1>
    </header>
    <div class="content">
        {% include 'nav.html' %}
        <main id = "mainContent">
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        <p>User's OS: {{ user_os }}, User-Agent: {{ user_agent }}, Current time: {{ current_time }}</p>
        <p>&copy; Dmytro Huk 2023</p>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
