{% extends 'base.html' %}

{% block title %}Resume Homepage{% endblock %}

{% block content %}
    <h2>Homepage</h2>
    <section>
        <p>
            Welcome to my resume page. I'm very happy that you've decided to consider my resume. <br>
            I believe, that you're not going to regret the decision an I will be put a great use <br>
            at your company. With all that said, You can begin to watch my resume <br>
            Best wishes, <br>
            The Author <br>
        </p>
        <img src="{{ url_for('static', filename='images/image_homepage.png') }}" width="700" height="400">
    </section>
{% endblock %}
