{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% macro render_field(field, placeholder='') %}
    {% if field.type == 'BooleanField' %}
        {{ field.label }} {{ field(placeholder='Keep me logged in') }}<br><br>
    {% elif field.type == 'PasswordField' %}
        {{ field(placeholder='Enter your password: ') }}<br><br>
    {% elif field.type == 'StringField' %}
        {{ field(placeholder='Enter your username: ') }}<br><br>
    {% else %}
        {{ field(placeholder=placeholder) }}<br><br>
    {% endif %}
    {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="pageSection">
        <h2>Login form</h2><br>
        <form action="/login" method="POST" novalidate>
            {{ form.csrf_token }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            {{ render_field(form.remember) }}
            {{ render_field(form.submit) }}
        </form>
    </div>
{% endblock %}