{% extends 'base.html' %}

{% block title %}My Experience and Skills{% endblock %}

{% block content %}

    <h2>My Experience</h2>
    <section>
        <p>   Speaking about my experience, I'd like to say that my eagerness to learn and grow <br> has led me to be
        proficient in Java, C++, and Python, and I have some experience <br> working with JavaScript and PHP.
        Also, throughout my university <br> study i've got some knowledge about Linux and Bash scripting,
        together with know-<br>ledge of various popular programming language frameworks like Flask in Python or Spring
        Boot in Java </p>

        <p><b>Here is the list that shows some of my skills : </b></p>

        <img src="{{ url_for('static', filename='images/cpp_logo.png') }}" width="200" height="200">
        <img src="{{ url_for('static', filename='images/flask_logo.png') }}" width="200" height="200">
        <img src="{{ url_for('static', filename='images/java_logo.png') }}" width="200" height="200">
        <img src="{{ url_for('static', filename='images/python_logo.png') }}" width="200" height="200">


    </section>
    </div>
{% endblock %}
