{% extends 'base.html' %}

{% block title %}My Projects{% endblock %}

{% block content %}
    <div class="pageSection">
        <h2>My Projects</h2>
        <section>
            <p>
                    Frankly speaking, I want to say that due to me being in the 3rd of my university
                study, I haven't taken part in any big project yet. However, in the previous semester, I took part
                in a practical training at university's software developer organization PNUdev, during which I was
                tasked to create a personal web organizer project.
            </p>

            <p><b>Here are some screenshots that I made during my work on that project: </b></p>

            <img src="{{ url_for('static', filename='images/screenshot_my_projects_1.png') }}" width="700" height="400">
            <br><br>
            <img src="{{ url_for('static', filename='images/screenshot_my_projects_2.png') }}" width="700" height="400">
        </section>
    </div>
{% endblock %}
