{% set menu = {'Homepage': url_for('homepage'),
 'About Me': url_for('about_me'), 'My Experience': url_for('my_experience'), 'My Projects': url_for('my_projects'),
 'Find Me': url_for('contacts'), 'Login': url_for('login'), 'Todo': url_for('todo')} %}

<nav>
    <ul>
        {% for name, url in menu.items() %}
            <li>
                <a class="toggleButton" href="{{ url }}" data-title="{{ name | title }}">{{ name | title }}</a>
            </li>
            <br>
        {% endfor %}
        <li>
            <form id="skillForm">
                <label>Enter the number of the skill to find: </label>
                <input type="text" name="id" id="inputID" class="inputID" placeholder="Enter the ID here">
                <br><br>
                <button class="buttonSkillForm" type="submit" onclick="generateLink()">Find skill</button>
            </form>
            <a class="toggleButton" id="generatedLink" href=""></a>
        </li>
    </ul>
</nav>
