{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="pageSection">
            <h2>List of users that have been signed up by now</h2>
            <br>
            <table class="databaseOutputTable">
                <thead class="databaseOutputTable">
                    <tr>
                      <th class="databaseOutputTable">User ID</th>
                      <th class="databaseOutputTable">Username</th>
                      <th class="databaseOutputTable">Email</th>
                      <th class="databaseOutputTable">Profile Image</th>
                    </tr>
                </thead>
                <tbody class="databaseOutputTable">
                    {% for user in user_data %}
                        <tr>
                            <th class="databaseOutputTable">{{ user.id }}</th>
                            <td class="databaseOutputTable">{{ user.username }}</td>
                            <td class="databaseOutputTable">{{ user.email }}</td>
                            <td class="databaseOutputTable">
                                {% set profile_image_path = user.profile_image_path %}
                                {% set exists = url_for('static', filename='profile_images/' + profile_image_path) | file_exists %}

                                {% if profile_image_path and exists %}
                                    <img src="{{ url_for('static', filename='profile_images/' + profile_image_path) }}" alt="User Profile Image" width="200" height="200"><br><br>
                                {% else %}
                                    <img src="{{ url_for('static', filename='profile_images/default.jpg') }}" alt="Default Profile Image" width="200" height="200"><br><br>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            <br><br>
            <div>
                <strong><a href="/info" style="color:#000;" class="btn btn-secondary ms-1 toggleButton">Back to the info page</a></strong>
            </div>
        </div>
  </section>
{% endblock %}
